{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

{% if is_granted ("ROLE_ADMIN") %}
<a href="{{ path ('create_event')}}">Create event</a>
{% endif %}



<h1>All the events are here</h1>


<ul>
    {% for event in events %}
    <li>
    <a href="{{ path ('event',{id:event.id})}}">{{event.title}}</a>
    </li>
        
    {% endfor %}

</ul>

{% endblock %}
