{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Subscribe to an event</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    
{{ form_end(form) }}
{% endblock %}
