<html>
<body>
    
    <p>Someone wants to reach you!</p>

    <ul>
        <li>Name : {{data.name}}</li>
        <li>Email : {{data.email}}</li>
    </ul>

    <p>
        <strong>Message:</strong><br>
        {{data.message}}
    </p>
</body>
</html>