{% extends 'base.html.twig' %}

{% block title %}Events Map{% endblock %}

{% block body %}

<header>
    <h1>Events Map</h1>
</header>

<div class = "div-btn">
    <button class ="btn btn-primary btn-block">
        <a href="{{ path ('event_search')}}">Back to search page</a>
    </button>
</div>

<div id = "map">
</div>

<div class="event-content">
    <div class="grid-item">
    <ul>
        {# {% for event in events %}
            <li></li>
        {% endfor %} #}
    </ul>

    </div>
    <div class="grid-item">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2528.862994172178!2d4.577623377044335!3d50.66680427163423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c17e020a9f6973%3A0xd2e3266bb3f36b24!2sRue%20de%20la%20Chapelle%2C%201340%20Ottignies-Louvain-la-Neuve!5e0!3m2!1sfr!2sbe!4v1728986411142!5m2!1sfr!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>



{% endblock %}



