/* @import url('https://fonts.googleapis.com/css?family=Muli:400,900&display=swap');

#calendar-holder {
    font-family: 'Muli', sans-serif;
    width: 800px;
    margin: 0 auto;
}

.fc-toolbar h2,
.fc th {
    font-weight: inherit;
} */

body {
    margin:0;
    font-family: "Poppins", sans-serif;
}

main {
    padding: 15px;
}

.btn a{
    color:#fff;
    text-decoration: none;
    margin:15px;
}
.btn{
    margin: 15px;
}

.div-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 15px;
    margin: 5px 15px 15px 15px;
}

/************************ Nav Header *****************/
.header-nav{
    width: 100%;
    background: #eceaff;
    color: #525252;
    
}

nav {
    background: #1a1a1a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: relative;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    background: #525252;
    padding: 5px 10px;
    border-radius: 20px;
}

/* logo */
.logo a img {
    width: 150px;
}

/* avatar*/

.avatar {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.avatar img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    
}

/* Submenu */

/* When toggle hidden */

.sub-menu-wrap {
    position: absolute;
    top: 80%;
    right: 2%;
    width: 320px;
    max-height: 0px ;
    overflow: hidden;
    transition: max-height 0.5s;
    box-shadow: 5px 5px 15px rgba(52,52,52,0.25);
    /* To hide submenu: add max-height: 0 and overflow: hidden , to make it visible, max-height: 400 px, and transition*/
}

/* When toggle open */
.sub-menu-wrap.open-menu {
    max-height: 400px;
    z-index: 1;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px ;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin:12px 0 ;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link img {
    width: 45px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: bolder;
}

 /************************** Login Form ***************/ 

.login-block {
    background-color:#fff;
    padding:60px;
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align:center;
    border-radius:5px;
    width: 75%;
    margin: auto;
}

.login-block h1
{
    font-family:Open Sans,sans-serif;
    color:#96a2b2;
    letter-spacing:1px;
    font-size:22px;
    margin-bottom:60px;
}

.login-block .form-group
{
    margin-top:15px;
    margin-bottom:15px;
}

.login-block .form-control,.login-block .form-control:focus,.login-block .input-group-addon,.login-block .input-group-addon:focus
{
    background-color:transparent;
    border:none;
}
.login-block .form-control
{
    font-size:17px;
    border-radius:0px;
}

.login-block .input-group-addon
{
    color:#29aafe;
    font-size:19px;
    opacity:.5
}
.login-block .btn-block
{
    margin-top:30px;
    padding:15px;
    background:#29aafe;
    border-color:#29aafe;
}
.login-block .hr-xs
{
    margin-top:5px;
    margin-bottom:5px
}

/* .btn .btn-primary .btn-block{
    background-color: #525252 !important;
} */

/******************* Bootstrap cards *********************/

.card-section{
    max-width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 15px;
    height: 320px;
    overflow: hidden;
    width: 350px;
}

.card-link {
    text-decoration: none;
    color: #525252;
}

.card-link:hover {
    background: #1a1a1a;
    padding: 0 5px;
    border-radius: 20px;
}

.card-title a {
    text-decoration: none;
    color: #1a1a1a;
}

/*************** Nav filters ********************/

/* .navbar a img {
    max-width: 50px;
    color: grey;
    background-color: #fff;
} */

/************************ Searchbar ********************/
.search-div-container{
    width: 100%;
    margin: 5px 5px 15px 5px;
}

.search-links {
    margin-right: 15px;
}
.search-links a{
    margin: 5px;
    text-decoration: none;
    color: #525252;
}

.search-links a:hover {
    background-color: #525252;
    color: #ffff;
    padding: 5px;
    border-radius: 20px;
}

.search-div {
    width: 50%; 
    margin-left: 2%;
    display: flex;
    align-items: center;
    /* padding: 10px; */
}

#SearchForm {
    display: flex;
    align-items: center;
    width: 100%;
}

#search_form_search {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#SearchIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.search-div-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#map {
    width: 500px;
    height: 500px;
}