{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% if app.user %}
<h1>Bienvenue {{app.user.firstname}}</h1>
{% else %}
    <h1>Bienvenue</h1>

{% endif %}

{% endblock %}
