{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% if app.user %}
<h1>Bienvenue {{app.user.firstname}}</h1>
{% else %}
    <h1>Bienvenue</h1>
{% endif %} 



<div>
    <ul>
    {% for event in lastEvents %}
        <li>{{ event.title}}</li>
        
    {% endfor %}

    </ul>

</div>



{% endblock %}
