{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% if app.user %}
<h1>Bienvenue {{app.user.firstname}}</h1>
{% else %}
    <h1>Bienvenue</h1>
{% endif %} 

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, nisi laborum. Numquam sit ipsa delectus nostrum, consectetur quibusdam eius voluptate quos, consequuntur, veritatis minima laudantium magni facere! Excepturi, iusto minima!
Accusamus hic sapiente deserunt sequi ex repellat magni quas obcaecati! Blanditiis sapiente enim nisi quae accusamus reprehenderit ut architecto aut alias in soluta ipsum vero, esse ipsa doloremque inventore maiores.</p>

<div>
    <ul>
    {% for event in lastEvents %}
        <li>{{ event.title}}</li>
        
    {% endfor %}

    </ul>
</div>



{% endblock %}
